doctype
html
  head
    title My site
    meta(name="description", content="the description of this site")

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//use.typekit.net/xmb4mjl.js')
    script.
      try{Typekit.load();}catch(e){}
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    //[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
      <![endif]
    link(rel='stylesheet', href='css/styles.css')

  body
    include nav
    include header
    block content
    include footer